.btn-nhh {
  padding: 3px 48px;
  border: 3px solid $nhh-white;
  border-radius: 0;
  background-color: transparent;
  color: $nhh-white;
  text-transform: uppercase;
  font-style: italic;

  &:hover {
    border-color: $nhh-dark-gold;
  }

  &:hover,
  &:focus {
    color: $nhh-white;
  }

  &:focus {
    outline: 5px auto $nhh-gold;
  }

  &:active,
  &.active {
    &:focus {
      outline: 5px auto $nhh-gold;
    }
  }
}

.btn-nhh.btn-lg {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1.2em;
}

.btn-link-nhh {
  color: $nhh-gold;
  font-weight: inherit;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: darken($nhh-gold, 15%);
  }
}

.btn-play,
.btn-view-detail {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //margin-top: -52px;
  //margin-left: -42px;
  font-size: 3em;

  .fa-circle,
  .fa-square,
  .fa-square-o {
    color: $nhh-gold;
  }

  .fa-play,
  .fa-search-plus,
  .fa-circle-o-notch {
    color: $nhh-white;
    text-indent: 8px;
  }

  &:hover,
  &:focus,
  &:active
  &.active {
    .fa-circle,
    .fa-square,
    .fa-square-o {
      color: darken($nhh-gold, 15%);
    }
    .fa-play,
    .fa-search-plus,
    .fa-circle-o-notch {
      color: darken($nhh-white, 15%);
    }
  }
}

.btn-dismiss {
  color: $nhh-white;

  &:hover,
  &:focus,
  &:active
  &.active {
    color: darken($nhh-white, 15%);
  }
}
