.btn-nhh {
  padding: 3px 48px;
  border: 6px solid $nhh-gold;
  border-radius: 0;
  background-color: black;
  color: $nhh-gold;
  text-transform: uppercase;
  font-weight: normal;

  @media screen and (max-width: 374px) and (min-width: 0px) {
    padding: auto;
  }

  &:hover {
    border-color: darken($nhh-gold, 10%);
    color: darken($nhh-gold, 10%);
  }

  &:hover,
  &:focus {
    color: $nhh-gold;
  }

  &:focus {
    outline: 5px auto $nhh-gold;
    color: $nhh-gold;
  }

  &:active,
  &.active {
    &:focus {
      outline: 5px auto $nhh-gold;
    }
  }
}

.btn-nhh.btn-lg {
  font-size: .9em;
  line-height: 1em;
  height: 80px;
  margin-top: 10px;
  width: 75%;
  font-weight: normal;
}

.btn-vote {
  padding: 0px;

  .gold-heisman {
    background-image: url($image-path + 'logo_heisman_gold.png');
    width: 62px;
    height: 60px;

    @media screen and (max-width: 374px) and (min-width: 0px) {
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: left center;
      margin-left: -5px;
    }
  }

  .vote-text div {
    display: inline-block;
  }
  
  .vcopy {
    vertical-align: top;
    margin-top: 10px;
    margin-left: 5px;

    @media screen and (max-width: 374px) and (min-width: 0px) {
      margin-left: -15px;
    }
  }
}

.btn-voted {
  @media (max-width: $screen-xs-max) {
    padding-top: 8px !important;
  }
  @media (min-width: $screen-sm-min) {
    padding-top: 5px !important;
  }
  @media (min-width: $screen-md-min) {
    padding-top: 18px !important;
  }
}

.btn-discussion {
  .discussion-text {
    margin-top: -5px;

    div {
      display: inline-block;
    }
  }
}

.btn-nominate {
  font-family: "proxima-nova", sans-serif;
  color: $nhh-white !important;
  border: 6px solid $nhh-white !important;
  height: 70px !important;
  font-weight: bold;

  .larger-text {
    @media (min-width: $screen-md-min) {
      font-size: 1.4em !important;
    }
  }

  &:hover {
    color: $nhh-gold !important;
    border: 5px solid $nhh-gold !important;
  }
}

.btn-discussion,
.btn-nominate {
  padding-top: 20px;
  padding-left: 6px;
  padding-right: 6px;
}

.btn-vote {
  padding-top: 5px;
  padding-left: 6px;
  padding-right: 6px;

  .vcopy {
    margin-top: 15px;
  }
}

.btn-enter {
  padding-top: 8px;
  padding-left: 25px;
  padding-right: 25px;
}


.btn-link-nhh {
  color: $nhh-gold;
  font-weight: inherit;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: darken($nhh-gold, 15%);
  }
}

.btn-play,
.btn-view-detail {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //margin-top: -52px;
  //margin-left: -42px;
  font-size: 3em;

  .fa-circle,
  .fa-square,
  .fa-square-o {
    color: $nhh-gold;
  }

  .fa-play,
  .fa-search-plus,
  .fa-circle-o-notch {
    color: $nhh-white;
    text-indent: 8px;
  }

  &:hover,
  &:focus,
  &:active
  &.active {
    .fa-circle,
    .fa-square,
    .fa-square-o {
      color: darken($nhh-gold, 15%);
    }
    .fa-play,
    .fa-search-plus,
    .fa-circle-o-notch {
      color: darken($nhh-white, 15%);
    }
  }
}

.btn-dismiss {
  color: $nhh-white;

  &:hover,
  &:focus,
  &:active
  &.active {
    color: darken($nhh-white, 15%);
  }
}

.share-vote {
  font-size: 3em;

  .social-share {
    color: $nhh-gold;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: darken($nhh-gold, 15%);
    }
  }
}

.larger-text {
  font-size: 1.4em;
  font-weight: normal;
  font-style: italic;
}

.btn-thanks {
  width: 50%;
  padding: auto !important;
  margin-top: 6px;
}

@media (min-width: $screen-xs-min){

  .btn-enter {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn-vote {
    padding-top: 5px;
  }

  .btn-nhh.btn-lg {
    line-height: 1.2em;
  }

}

@media (min-width: $screen-sm-min){

  .btn-enter {
    padding-top: 5px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .btn-vote {
    padding-top: 5px;

    .vcopy {
      margin-top: 10px;
    }
  }

  .btn-discussion {
    padding-top: 15px;
  }

  .btn-nhh.btn-lg {
    font-size: 1.2em;
    line-height: 1.2em;
  }

}

@media (min-width: $screen-md-min){
  .btn-enter {
    padding-top: 7px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .btn-vote {
    padding-top: 15px;
  }

  .btn-discussion {
    padding-top: 25px;
  }

  .btn-nhh.btn-lg {
    height: 100px;
    width: 90%;
    font-size: 1.2em;
    line-height: 1.1em;
  }

  .larger-text {
    font-size: 1.5em;
  }
}

@media (min-width: $screen-lg-min){
  .btn-enter {
    padding-top: 15px;
  }

  .btn-nhh.btn-lg {
    width: 93%;
  }
}