$default-header-height: 45px;
$header-components-height: 599px;
$logo-nissan-height: 86px;
$logo-heisman-large-width: 365px;
$logo-heisman-large-height: 351px;

#default-header-container,
#home-header-container {

  .vote-link-container {
    padding-top: 10px;
  }

  .line-end {
    width: 100%;
    border-top-color: transparentize($nhh-white, .5);
  }
  
  .enter-text {
    max-width: 85%;
    white-space: normal;
  }

  .dismiss-container {
    background-color: $nhh-grey;
  }

  .voted,
  .vote {
    font-size: 21px;
    line-height: 30px;
    color: $nhh-white;
  }

  .voted-for {
    margin-left: 20px;
  }

  .athlete-name,
  .time-ago {
    color: $nhh-gold;
  }

  .voted-for-container,
  .vote-again-container,
  .vote-heading-container,
  .vote-controls-container {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
  }

  .voted-for-container,
  .vote-again-container {
    background-color: $nhh-grey;
  }
}

#default-header-container {
  position: relative;
  height: $default-header-height;
  background-color: #000;

  .welcome-container {
    float: left;
    width: 100%;
    height: $default-header-height;
    padding-left: 80px;
    text-align: right;

    .title {
      font-size: 17px;
    }
  }

  .logo-container.nissan {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    line-height: 50px;
  }

  .title {
    width: auto;
    display: inline;
    margin-left: 12px;
    font-size: 20px;
    line-height: $default-header-height;
    font-family: $nhh-font-family-headings;
    color: $nhh-white;
    text-transform: uppercase;
  }

  .voted-for-container .logo-container.heisman.small {
    margin-top: -20px;
  }

}

#home-header-container {
  .welcome-container,
  .hero-container {
    width: 100%;

    .headings-container .heading {
      font-family: $nhh-font-family-headings;
      color: $nhh-white;
      text-transform: uppercase;
    }

    .headings-container .subheading {
      color: $nhh-gold;
    }
  }

  .welcome-container {
    padding-top: 20px;
  }

  .lockup-container {
    padding-top: 18px;
    max-width: 384px;
    @include center-block();

    .title {
      width: 100%;
      float: left;
      font-family: $nhh-font-family-headings;
      color: $nhh-white;
      text-transform: uppercase;

      &.title-large {
        font-size: 30px;
        line-height: 30px;
        margin-top: 7px;
        margin-bottom: 7px;
      }

      &.title-small {
        font-size: 14px;
        line-height: 14px;

        .bookend,
        .book {
          float: left;
        }

        .bookend {
          width: 12%;
          margin-top: 7px;
          margin-bottom: 6px;
        }

        .book {
          width: 76%;
        }
      }
    }

    .bottom {
      width: 100%;
      float: left;
      margin-top: 10px;
    }
  }

  .hero-container {
    max-width: 384px;
    margin: 0 auto;

    .heading {
      font-size: 40px;
    }

    .subheading {
      text-align: center;
      font-size: 16px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .subhead {
      color: $nhh-gold;
      font-size: 14px;
      line-height: 18px;

      &.cta {
        font-weight: bold;
      }
    }

    .heading-controls-container {
      padding-top: 22px;
    }
  }

  .vote {
    padding-bottom: 40px;
  }

  .hero-video-container {

    .hero-video-heading {
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 15px;
      font-size: 29px;
      font-style: italic;
      text-align: left;
    }

    .hero-video {
      width: 100%;
      height: 240px;
      background-size: 120%;
      background-position: center;
    }
  }
}

.tour-update-container {

	.container {
		padding: 10px 0 10px 0;
	}
	
	p {
		margin-bottom: 0;
	}
	
	.title {
		color: $headings-color;
	}
}

@media (min-width: $screen-sm-min){
  
  .vote-link-container {
    padding-top: 10px;
  }

  .line-end {
    width: 100%;
    border-top-color: transparentize($nhh-white, .5);
  }
  
  #home-header-container {
    .welcome-container,
    .hero-container {
      //min-height: $header-components-height;
      background-size: cover;
    }

    .welcome-container {
      /* background-image: url($image-path + 'bg_header.png') */
    }

    .lockup-container {
      .title {
        &.title-large {
          font-size: 45px;
          line-height: 45px;
          margin-bottom: 7px;
        }

        &.title-small {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }

    .vote {
      padding-top: 40px;
    }

    .hero-container {
      max-width: none;
      background-image: url($image-path + 'bg_marquee.png');

      .headings-container {
        max-width: $logo-heisman-large-width;
        @include center-block();
      }

    }

    .voted .hero-video-container {
      .hero-video {
        height: 539px;
      }
    }
  }
}

@media (min-width: $screen-md-min){
  
  .vote-link-container {
    padding-top: 80px;
  }
}

@media (min-width: $screen-lg-min){
  #default-header-container,
  #home-header-container {
    .voted {
      line-height: 51px;
    }

    .vote-link-container {
      padding-top: 90px;
    }

    .line-end {
      width: 100%;
      border-top-color: transparentize($nhh-white, .5);
    }
  

    .voted-for-container {
      background-color: transparent;

      .voted-for {
        float: left;
      }
    }
  }

  #default-header-container {
    .welcome-container {
      text-align: left;
    }

    .voted-for-container,
    .vote-again-container {
      height: $default-header-height;
    }

    .vote-heading-container,
    .vote-controls-container {
      line-height: 50px;
    }

    .vote-controls-container {
      text-align: left;
    }

    .voted-for-container .logo-container.heisman.small {
      margin-top: 0px;
    }
  }

  #home-header-container {
    .vote {
      padding-top: 62px;
    }

    .hero-container {
      .subheading {
        text-align: left;
      }
    }
  }


}
