#rules-container {
  margin-top: 20px;

  .page-subheading .subheading {
    color: $nhh-white;
    font-weight: 500;
  }

  .presby {
    font-style: italic;
    font-weight: 400;
    font-size: .7em;
  }

  .rules {
    .section-heading {
      text-transform: uppercase;
      font-size: 1.2em;
      margin-top: 20px;      
    }
  }
}
