$image-path: 'http://a.espncdn.com/promotions/bsa/apps/nissan/heisman/2014/images/';
$fa-font-path: 'http://a.espncdn.com/promotions/bsa/apps/nissan/heisman/2014/fonts/';

// project specific
$nhh-grey: #3b3b3b;
$nhh-gold: #ceae94;
$nhh-dark-gold: #cead92;
$nhh-white: #fff;

$nhh-bg-color: $nhh-grey;

$nhh-font-family-sans-serif: "ff-meta-web-pro";
$nhh-font-family-headings: "adobe-garamond-pro";


// bootstrap overrides
$bg-color: $nhh-bg-color;
$text-color: $nhh-white;
$font-family-sans-serif: $nhh-font-family-sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-color: $nhh-gold;
$link-color: $nhh-gold;

$state-info-text: $nhh-dark-gold;
$state-info-bg: $nhh-grey;
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%);
