.tab-content.mobile {
  padding: 0;
  margin: 0;

  .nhh-featured-slide-item {
    border-bottom: 1px solid $nhh-gold;
    width: 100%;
    height: 250px !important;
    padding: 0;
    margin: 0;

    .thumbnail-link {
      background-size: 250px !important;
      background-position: center;
      background-repeat: no-repeat;
      padding: 0;
    }
    .col-xs-12 {
      height: 100%;
    }
    .caption {
      padding: 0 0 10px 0 !important;
    }
  }
  #featured-items {
    height: 100%;
  }
}