#video-showcase-container {
  padding-bottom: 40px;
  background-color: transparent;

  .tab-field {
    padding-bottom: 45px;
  }

  .video-nav {
    background-color: $nhh-gold;
    //height: 35px;
    padding-right: 0px;
  }

  li.active a{
    color: white;
  }

  .heading {
    font-weight: bold;
    font-size: 17px;
    color: $nhh-grey;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    //margin: auto 0px;


    &:active, &.active {
      color: $nhh-white;
      background-color: $nhh-gold;
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }

    &:focus {
      color: $nhh-white;
      background-color: $nhh-gold;
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }

    &:hover {
      background-color: darken($nhh-gold,10%);
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }
  }


  .headings {
    padding-top: 24px;
    text-align: left;

    .heading-label {
      display: none;
      font-weight: normal;
      font-size: 17px;
      color: $nhh-white;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
    }

    .heading {
      //font-size: 29px;
      //font-style: italic;
      //margin-top: 0;
      //margin-bottom: 10px;
    }
  }

  .video-items {
    //max-width: 768px;
  }

  .nhh-slide-item {
    position: relative;
    //float: left;
    //width: 100%;
    height: 125px;
    //margin-top: 20px;

    .thumbnail-link {
      display: block;
      float: left;
      width: 266px;
      left: 0;
      height: 100%;
      background-size: cover;
      background-position: center;
      margin-right: 40px;
    }

    .backdrop {
      display: none;
      position: absolute;
      float: left;
      //top: 10px;
      left: 0;
      right: 10px;
      width: 266px;
      height: inherit;
      background-color: rgba(0,0,0,0.6);
    }

    .caption {
      //display: none;
      //position: absolute;
      //bottom: 10px;
      //left: 50px;
      //right: 10px;
      //text-align: center;
      //top: 20px;
      color: $nhh-gold;
    }
  }

  .nhh-slide-item:hover {
    .backdrop {
      display: block;
    }
  }

  .nhh-slide-border {
    padding-bottom: 35px;
    border-bottom: 1px solid #fff;
    margin-bottom: 35px;
    margin-left: 0px;
  }

  .rn-carousel-controls {
    .rn-carousel-control {
      font-size: 70px;
      margin-top: -65px;
    }
  }
  .last {
    border-bottom: 0px none #fff !important;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: $screen-sm-min){

  body.home #video-showcase-container {
    /*
    background-image: url($image-path + 'bg_video_showcase.png');
    background-size: cover;
    */
  }

  #video-showcase-container {
    .headings {
      padding-top: 14px;
      text-align: right;

      .heading-label {
        display: block;
        margin-bottom: 4px;
      }
    }

    .nhh-slide-border {
      padding-bottom: 35px;
      border-bottom: 1px solid #fff;
      margin-bottom: 35px;
    }

    .nhh-slide-item {
      //max-width: 226px;
      //max-width: 464px;
      //height: 260px;
      //padding-right: 14px;
      //padding-top: 14px;

      //.caption {
        //display: block;
      //}
    }

    //.nhh-carousel :first-child.nhh-slide :first-child.nhh-slide-item {
      //max-width: 464px;
      //height: 260px;

      //.caption {
        //display: block;
      //}
    //}
  }
}
