<div class="row ballot-item center-block text-center">
  <div class="col-xs-12 ballot-heading-container">
    <a href="http://espn.go.com/college-football/player/_/id/{{item.espnId}}" target="_blank"><h3 class="ballot-heading athlete-name">{{item.name | fullName}}</h3></a>
    <hr>
  </div>
  <div class="col-xs-12 ballot-details-container">
    <ul class="list-inline ballot-details">
      <li class="ballot-detail school-name">{{item.school.name}}</li>
      <li class="ballot-detail position-abbreviation">{{item.position.abbreviation}}</li>
      <li class="ballot-detail experience-abbreviation">{{item.experience.abbreviation}}</li>
    </ul>
  </div>
  <div class="col-xs-12 ballot-controls-container" ng-if="disabled">
    <button class="btn btn-nhh btn-danger">
      <i class="fa fa-check" ng-if="item._id === lastVote.athlete._id"></i>
      <i class="fa fa-ban" ng-if="item._id !== lastVote.athlete._id"></i>
    </button>
  </div>
  <div class="col-xs-12 ballot-controls-container" ng-if="!disabled">
    <button class="btn btn-nhh" ng-click="vote(item)" title="Vote for {{item.name | fullName}}">
      Vote
    </button>
  </div>
</div>
