<div id="home-header-container" ng-class="" class="container full-width">
  <div class="welcome-container text-center">
    <div class="col-xs-12 padding-less">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
            <div class="lockup-container">
              <div class="col-xs-12">
                <a href="http://www.nissanusa.com/" class="logo-container nissan default text-hide" title="Nissan USA" target="_blank" analytics-on analytics-event="Click" analytics-category="Logos" analytics-label="Nissan">Nissan</a>
              </div>
              <div class="title title-small">
                <hr class="bookend"><span class="book">Welcome to the Nissan</span><hr class="bookend">
              </div>
              <div class="title title-large">Heisman House</div>
              <div><hr class="line-end"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 vote-link-container">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="lastVote">
          <div class="text-center">
            <div class="btn btn-nhh btn-lg btn-vote" title="Voted">
            You voted for <span class="athlete-name">{{athlete.name | fullName}}</span><br>
            You can vote again <span class="time-ago">{{nextVote}}</span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-if="!lastVote">
          <div class="text-center">
            <a href="#!/ballot" class="btn btn-nhh btn-lg btn-vote" title="Vote Now" nhh-floodlight nhh-floodlight-cat="Heism000"><img class="gold-heisman" src="../images/logo_heisman_gold.png" />Vote for the next<br><span class="larger-text">Heisman</span></a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center-btn">
          <div class="text-center">
            <a href="#!/login" class="btn btn-nhh btn-lg btn-enter" title="Vote Now" nhh-floodlight nhh-floodlight-cat="Heism000"><span class="larger-text">Enter now</span><br><span class="enter-text">for a chance to win tickets to the college football playoff</span></a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="text-center">
            <a href="#!/discussion" class="btn btn-nhh btn-lg btn-discussion" title="Vote Now" nhh-floodlight nhh-floodlight-cat="Heism000"><i class="fa fa-twitter fa-3x"></i>Join the<br><span class="larger-text">Discussion</span></a>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</div>
       
    <!--
    <div class="col-xs-12 col-lg-8 padding-less">
      <div class="hero-container">
        <div class="row margin-less voted" ng-if="lastVote">
          <div class="hidden-lg col-xs-12 voted-for-container visible-lg">
            <div class="logo-container heisman small text-hide">Heisman Trophy</div>
          </div>
          <div class="col-xs-12 col-lg-6 voted-for-container visible-lg">
            <div class="visible-lg logo-container heisman small text-hide pull-left">Heisman Trophy</div>
            <div class="voted-for">You voted for <span class="athlete-name">{{athlete.name | fullName}}</span></div>
          </div>
          <div class="col-xs-12 col-lg-6 text-center vote-again-container visible-lg">
            <div class="vote-again">You can vote again <span class="time-ago">{{nextVote}}</span></div>
          </div>
          <div class="col-xs-12 hero-video-container padding-less text-center">
            <h2 class="hero-video-heading hidden-lg">Featured Video</h2>
            <div class="hero-video" ng-style="{ 'background-image': 'url(' + heroThumbnailUrl + ')' }">
              <a class="btn btn-play fa-stack fa-stack-large center-xy" ng-href="#!/videos/{{heroVideo.youtubeId}}" title="{{heroVideo.name}}">
                <i class="fa fa-stack-2x fa-circle"></i>
                <i class="fa fa-stack-1x fa-play fa-inverse"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row margin-less vote" ng-if="!nextVote">
          <div class="hidden-xs col-sm-12 col-lg-6">
            <div class="logo-container heisman large text-hide">Heisman Trophy</div>
          </div>
          <div class="col-xs-12 col-lg-6">
            <div class="headings-container">
              <h1 class="heading text-center">Cast Your Vote!</h1>
              <p class="subheading">As the Premier Partner of the Heisman Trophy, Nissan has the unique privilege of casting an official vote on behalf of you, the college football fan.</p>
            </div>
            <div class="heading-controls-container text-center">
              <a href="#!/ballot" class="btn btn-nhh btn-lg" title="Vote Now" nhh-floodlight nhh-floodlight-cat="Heism000">Vote Now</a>
            </div>
            <hr class="visible-xs">
          </div>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
<!-- </div> -->
