<nav class="menu" id="flyout-menu" nhh-menu>
  <div class="menu-wrap">
    <i class="fa fa-times menu-close"></i>
    <a href="/#/"><span class="logo-container espn text-hide">ESPN</span></a>
    <a ng-href="{{link.url}}" title="{{link.title}}" target="{{link.target}}" ng-repeat="link in menuLinks">{{link.text}}</a>
    <a href="" class="social-share" nhh-share share-action="share-facebook" share-url="{{facebookLink.shareUrl}}" title="{{facebookLink.title}}" ><i class="fa fa-facebook"></i></a>
    <a href="" class="social-share" nhh-share share-action="share-twitter" share-url="{{twitterLink.shareUrl}}" share-text="{{twitterLink.text}}" share-hashtags="{{twitterLink.hashtags}}" title="{{twitterLink.title}}"><i class="fa fa-twitter"></i></a>
  </div>
  <div id="menu-toggle"><i class="fa fa-bars"></i></div>
</nav>
