<div id="ballot-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-heading-container text-center">
        <h1 class="heading">Cast Your Vote!</h1>
        <hr class="narrow-top">
        <p class="subheading">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam esse sapiente commodi voluptatum unde vitae facere molestias, excepturi cum eius ipsam ullam laudantium sed sit possimus. Iusto et facilis aut.</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in athletes">
      <ballot-item></ballot-item>
    </div>
  </div>
</div>
