<ng-include ng-controller="HeaderCtrl" src="'partials/header_default.html'"></ng-include>

<div id="tour-stops-list-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-heading-container text-center">
        <h1 class="heading">Heisman House Tour</h1>
        <hr class="narrow-top">
        <p class="subheading" ng-bind="overview"></p>
        <hr>
      </div>
    </div>
  </div>
  <div itemscope itemtype="http://schema.org/Event" class="row stop-list-item" ng-repeat="stop in stops">
    <div class="hidden-xs col-sm-6 col-md-3">
      <div class="stop-list-map-container">
        <google-map
          center='stop.map.center'
          zoom='stop.map.zoom'
          pan='stop.map.pan'
          draggable='stop.map.draggable'>
        </google-map>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-9">
      <div class="stop-list-heading-container">
        <h5 class="heading"><a ng-href="#!/tour-stops/{{stop.slug}}" class="btn-link btn-link-nhh no-decoration">Stop {{stop.stopNumber}} - <span itemprop="name">{{stop.title}}</span> - {{stop.venue.name}}</a></h5>
        <a ng-href="{{stop.absUrl}}" class="hide" itemprop="url">{{stop.absUrl}}</a>
        <div class="subheading date" itemprop="startDate" content="{{stop.stopDateIso}}">{{stop.stopDate | date}}</div>
        <div class="subheading location" itemprop="location" itemscope itemtype="http://schema.org/Place">
          <span class="hide" itemprop="name">{{stop.venue.name}}</span>
          <a class="hide" itemprop="url" ng-href="{{stop.venueUrl}}">{{stop.venueUrl}}</a>
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">{{stop.venue.suburb}}</span>, <span itemprop="addressRegion">{{stop.venue.state}}</span>
            <span class="hide" itemprop="postalCode">{{stop.venue.postcode}}</span>
          </div>
          <div class="hide" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <span itemprop="latitude">{{stop.venue.geo[1]}}</span>
            <span itemprop="longitude">{{stop.venue.geo[0]}}</span>
          </div>
        </div>
      </div>
      <div class="stop-list-summary-container">
        <div class="alert alert-info alert-dismissible" role="alert" ng-if="stop.shouldShowSite">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true"><i class="fa fa-times"></i>
            </span><span class="sr-only">Close</span>
          </button>
          <div class="alert-icon"><i class="fa fa-info"></i></div>
          <div class="alert-content" ng-bind-html="stop.siteHtml"></div>
          <div class="clearfix"></div>
        </div>
        <div class="summary" ng-bind-html="stop.summaryHtml"></div>
        <div class="view-more visible-xs">
          <a ng-href="#!/tour-stops/{{stop.slug}}" class="btn btn-block btn-nhh">View More <i class="fa fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
</div>
