<ng-include ng-controller="HeaderCtrl" src="'partials/header_home.html'"></ng-include>

<div id="write-in-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-heading-container text-center">
        <h1 class="heading">Cast Your Vote</h1>
        <hr class="narrow-top">
        <p class="subheading">As the premier partner of the Heisman Trophy, Nissan has the exclusive privilege of casting an official vote on your behalf. Cast your vote for the next Heisman Trophy winner and also enter for chance to win a trip for you and three friends to the College Football Playoff in Arizona where you will meet a Heisman Trophy winner!<br><br>
        Learn more about this year's candidates at <a href="http://espn.go.com/college-football/heisman/" target="_blank">Heisman Watch</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
      <form class="form" role="form" name="writeInForm" novalidate ng-submit="vote(writeInForm)">

        <div class="form-group">
          <label class="sr-only">Conference</label>
          <select class="form-control" name="conference" id="conference" ng-options="conference as conference.shortName for conference in conferences track by conference.groupId" ng-model="conference" ng-required>
            <option value="">-- choose conference --</option>
          </select>
        </div>
        
        <div class="form-group">
          <label class="sr-only">Teams</label>
          <select class="form-control" name="team" id="team" ng-options="team as team.nickname for team in teams track by team.id" ng-model="team" ng-disabled="!conference" ng-required>
            <option value="">-- choose team --</option>
          </select>
        </div>

        <div class="form-group">
          <label class="sr-only">Athletes</label>
          <select class="form-control" name="athlete" id="athlete" ng-options="athlete as athlete.displayName for athlete in athletes track by athlete.id" ng-model="athlete" ng-disabled="!(conference && team)" ng-required>
            <option value="">-- choose athlete --</option>
          </select>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="writeInForm.conference.$error.required && writeInForm.$dirty">Please select a conference.</p>
          <p class="help-block" ng-show="writeInForm.team.$error.required && writeInForm.$dirty">Please select a team.</p>
          <p class="help-block" ng-show="writeInForm.athlete.$error.required && writeInForm.$dirty">Please select an athlete.</p>
          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div class="form-group">
          <button class="btn btn-block btn-nhh" type="submit" ng-disabled="!(conference && team && athlete)">Submit Vote</button>            
        </div>
        
      </form>
    </div>
  </div>
</div>